/* ===== base/mobile styles ===== */
.remove {
  position: absolute;
  left: 0;
  transform: translateY(-100%);
}

.add {
  display: block;
  margin: 0 auto;
}

/* ===== tablet styles ===== */
@media screen and (min-width: 641px) {
  /* empty on purpose, nothing to add */
}

/* ===== desktop styles ===== */
@media screen and (min-width: 1281px) {
  /* empty on purpose, nothing to add */
}
