/* ===== base/mobile styles ===== */
.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.list,
.listItem {
  width: 100%;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listItem {
  position: relative;
  border-bottom: 1px dotted;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* == static versions == */
.list:last-child > .listItem:last-child {
  border-bottom: initial;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* ===== tablet styles ===== */
@media screen and (min-width: 641px) {
  /* empty on purpose, nothing to add */
}

/* ===== desktop styles ===== */
@media screen and (min-width: 1281px) {
  /* empty on purpose, nothing to add */
}
