/* ===== base/mobile styles ===== */
/* == display state == */
.gradYear {
  grid-column: 1 / span 2;
}

.school,
.discipline {
  grid-column: 3 / -1;
  margin-left: var(--column-gap);
  text-align: end;
}

.school {
  font-weight: bold;
  border-bottom: 1px dashed;
  margin-bottom: 0.5em;
}

.discipline {
  font-style: italic;
  margin-bottom: 1em;
}

/* ===== tablet styles ===== */
@media screen and (min-width: 641px) {
  /* empty on purpose, nothing to add */
}

/* ===== desktop styles ===== */
@media screen and (min-width: 1281px) {
  /* empty on purpose, nothing to add */
}
