/* ===== base/mobile styles ===== */
/* == edit state == */
.select,
.textInput {
  margin-bottom: 1em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  grid-column: 1 / span 6;
}

.saveEdit {
  grid-column: 6;
  justify-self: end;
}

/* ===== tablet styles ===== */
@media screen and (min-width: 641px) {
  /* == edit state == */
  .select {
    grid-column: 1 / span 2;
  }

  .textInput {
    grid-column: 3 / span 4;
    margin-left: var(--column-gap);
  }
}

/* ===== desktop styles ===== */
@media screen and (min-width: 1281px) {
  /* empty on purpose, nothing to add */
}
